h5 {
    text-align: center;
    color: red;
    margin-top: 0%;
}

H4 {
    color:darkgreen;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    color:darkgreen;
}
img {
    width: 850px;
    height: 300px;
    margin-left: 300px;
}
figure {
    background-color:darkgreen;

}
p {
    margin-left: 50px;
}
ul{
    margin-left: 200px;
}
h4 {
    margin-left: 200px;
}