h5 {
    text-align: center;
    color: red;
}

H4 {
    color: darkred;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
    color:darkblue;
}
img {
    width: 850px;
    height: 300px;
    margin-left: 300px;
}
figure {
    background-color:darkgreen;

}
